@import '../../node_modules/normalize.css/normalize.css';

:root {
  --headerColor : #111;
  --mainColor: #f1f1f1;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

* { box-sizing:border-box }

main {
  background-color: #eee;
  margin: 2em;
  width: 1024px;
  height: 600px;
}


